.container {
  background-color: #f6f6f6;
  display: block;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
}
.top-nav {
  background-color: white;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 900;
  font-size: x-large;
  margin: auto;
}
.outline {
  background-color: white;
  border-radius: 5px;
  border-color: rgb(59, 73, 223);
  border-width: 1px;
  color: rgb(59, 73, 223);
  font-size: large;
  font-weight: 500;
  height: 40px;
  margin: auto;
}
